/** Fonts **/

/** Colors **/
$primary: #44b1e1;
$primary-light: #7fe3ff;
$primary-dark: #0082af;
$primary-text: #ffffff;

$secondary: #ad84ca;
$secondary-light: #e0b4fd;
$secondary-dark: #7d5799;
$secondary-text: #000000;

$tertiary: #fdbc33;
$tertiary-light: #ffee67;
$tertiary-dark: #c58c00;
$tertiary-text: #000000;

$text1: lightgrey;

$navbar_height: 5em;