/** Fonts **/


/** Colors **/
$primary: #66d9ef;
$primary-light: #9dffff;
$primary-dark: #23a7bc;
$primary-text: #000000;

$secondary: #f92672;
$secondary-light: #ff67a0; 
$secondary-dark: #c00047;
$secondary-text: #FFFFFF;

