@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

$section1-height: 45em;

// SECTION1 WRAPPER
.section1-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90%;

    // LEFT HALF
    .lefthalf-wrapper {
        display: flex;
        flex-grow: 4;
        flex-basis: 100%;
        justify-content: center;
        width: 100%;
        height: 100%;

        & img {
            height: 112%;
            width: 80%;
            min-width: 40em;
            max-width: 45em;
            z-index: 2;
        }
    }

    // RIGHT HALF
    .righthalf-wrapper {
        display: flex !important;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        min-width: 25.5em;
        height: 100%;

        // RIGHT HALF TOP HALF
        .righthalftophalf-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 80%;
            height: 40%;
            color: black;

            &:hover {
                background-color: $primary;
                color: white;

                & hr {
                    border: 1px solid white;
                }
            }

            .righthalftophalf-div {
                display: block;
                text-align: center;

                & h3 {
                    display: inline-block;
                    margin: 0;
                    padding: 0;
                    font-size: 125%;
                }

                & h1 {
                    display: inline-block;
                    margin: 0;
                    padding: 0;
                    font-size: 175%;
                }
            }

            & hr {
                width: 30%;
                border: 1px solid black;
            }

            & p {
                display: block;
                margin: 0 1em;
                padding: 0;
                text-align: center;
                word-wrap: break-word;
            }

            & a {
                font-size: 250%;
            }
        }

        // RIGHT HALF BOTTOM HALF
        .righthalfbottomhalf-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 80%;
            height: 40%;
            color: black;
            z-index: 2 !important;

            &:hover {
                background-color: $primary;
                color: white;

                & hr {
                    border: 1px solid white !important;
                    box-shadow: 0;
                }
            }

            @include angle(after, false, 5deg);

            .righthalfbottomhalf-div {
                display: block;
                text-align: center;

                & h3 {
                    display: inline-block;
                    margin: 0;
                    padding: 0;
                    font-size: 125%;
                }

                & h1 {
                    display: inline-block;
                    margin: 0;
                    padding: 0;
                    font-size: 175%;
                }

                & hr {
                    width: 30%;
                    border: 1px solid black;
                }

                & p {
                    display: block;
                    margin: 0 1em !important;
                    padding: 0;
                    text-align: center;
                    word-wrap: break-word;
                }

                & a {
                    font-size: 250%;
                }
            }
        }
    }
}