/** Fonts **/
/** Colors **/
.section1-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 90%; }
  .section1-wrapper .lefthalf-wrapper {
    display: flex;
    flex-grow: 4;
    flex-basis: 100%;
    justify-content: center;
    width: 100%;
    height: 100%; }
    .section1-wrapper .lefthalf-wrapper img {
      height: 112%;
      width: 80%;
      min-width: 40em;
      max-width: 45em;
      z-index: 2; }
  .section1-wrapper .righthalf-wrapper {
    display: flex !important;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    min-width: 25.5em;
    height: 100%; }
    .section1-wrapper .righthalf-wrapper .righthalftophalf-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 80%;
      height: 40%;
      color: black; }
      .section1-wrapper .righthalf-wrapper .righthalftophalf-wrapper:hover {
        background-color: #44b1e1;
        color: white; }
        .section1-wrapper .righthalf-wrapper .righthalftophalf-wrapper:hover hr {
          border: 1px solid white; }
      .section1-wrapper .righthalf-wrapper .righthalftophalf-wrapper .righthalftophalf-div {
        display: block;
        text-align: center; }
        .section1-wrapper .righthalf-wrapper .righthalftophalf-wrapper .righthalftophalf-div h3 {
          display: inline-block;
          margin: 0;
          padding: 0;
          font-size: 125%; }
        .section1-wrapper .righthalf-wrapper .righthalftophalf-wrapper .righthalftophalf-div h1 {
          display: inline-block;
          margin: 0;
          padding: 0;
          font-size: 175%; }
      .section1-wrapper .righthalf-wrapper .righthalftophalf-wrapper hr {
        width: 30%;
        border: 1px solid black; }
      .section1-wrapper .righthalf-wrapper .righthalftophalf-wrapper p {
        display: block;
        margin: 0 1em;
        padding: 0;
        text-align: center;
        word-wrap: break-word; }
      .section1-wrapper .righthalf-wrapper .righthalftophalf-wrapper a {
        font-size: 250%; }
    .section1-wrapper .righthalf-wrapper .righthalfbottomhalf-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 80%;
      height: 40%;
      color: black;
      z-index: 2 !important;
      position: relative;
      z-index: 1; }
      .section1-wrapper .righthalf-wrapper .righthalfbottomhalf-wrapper:hover {
        background-color: #44b1e1;
        color: white; }
        .section1-wrapper .righthalf-wrapper .righthalfbottomhalf-wrapper:hover hr {
          border: 1px solid white !important;
          box-shadow: 0; }
      .section1-wrapper .righthalf-wrapper .righthalfbottomhalf-wrapper:after {
        background: inherit;
        content: '';
        display: block;
        height: 50%;
        left: 0;
        position: absolute;
        right: 0;
        z-index: -1;
        -webkit-backface-visibility: hidden; }
      .section1-wrapper .righthalf-wrapper .righthalfbottomhalf-wrapper:after {
        bottom: 0;
        transform: skewY(-5deg);
        transform-origin: 100%; }
      .section1-wrapper .righthalf-wrapper .righthalfbottomhalf-wrapper .righthalfbottomhalf-div {
        display: block;
        text-align: center; }
        .section1-wrapper .righthalf-wrapper .righthalfbottomhalf-wrapper .righthalfbottomhalf-div h3 {
          display: inline-block;
          margin: 0;
          padding: 0;
          font-size: 125%; }
        .section1-wrapper .righthalf-wrapper .righthalfbottomhalf-wrapper .righthalfbottomhalf-div h1 {
          display: inline-block;
          margin: 0;
          padding: 0;
          font-size: 175%; }
        .section1-wrapper .righthalf-wrapper .righthalfbottomhalf-wrapper .righthalfbottomhalf-div hr {
          width: 30%;
          border: 1px solid black; }
        .section1-wrapper .righthalf-wrapper .righthalfbottomhalf-wrapper .righthalfbottomhalf-div p {
          display: block;
          margin: 0 1em !important;
          padding: 0;
          text-align: center;
          word-wrap: break-word; }
        .section1-wrapper .righthalf-wrapper .righthalfbottomhalf-wrapper .righthalfbottomhalf-div a {
          font-size: 250%; }
