@import "../../styles/variables.scss";

// Wrapper of entire NavBar
.navbar__nav {
    z-index: 9999;
    position: fixed;
    width: 100%;
    height: $navbar_height;
    background-color: $primary;

    .logo-li {
        border-bottom: 2px solid black;
    }

    .navbar-logo {
        display: inline-block;
        width: 100%;
        height: 142%;
    }

    // ul containing li & navlink elements
    .navroutes__wrapper__ul {
        display: inline-flex;
        width: 100%;
        height: 100%;
        justify-content: flex-start;
        list-style-type: none;
        padding: 0;
        margin: auto;

        // li which contains the NavLinks
        .navroutes__li {
            display: flex;
            align-content: center;
            justify-content: center;
            height: 100%;
            width: 8em;
            text-align: center;

            // NavLinks, youngest child
            .navroutes--navlink {
                display: flex;
                height: 100%;
                width: 100%;
                margin: 0;
                opacity: .7;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                color: white;
                font-size: 150%;
                font-weight: 300;

                &:hover {
                    opacity: .9;
                }
            }

            .navroutes--navlink--active {
                opacity: 1 !important;
                text-decoration: underline !important;
            }
        }
    }
}