/** Fonts **/
/** Colors **/
.navbar__nav {
  z-index: 9999;
  position: fixed;
  width: 100%;
  height: 5em;
  background-color: #44b1e1; }
  .navbar__nav .logo-li {
    border-bottom: 2px solid black; }
  .navbar__nav .navbar-logo {
    display: inline-block;
    width: 100%;
    height: 142%; }
  .navbar__nav .navroutes__wrapper__ul {
    display: inline-flex;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    list-style-type: none;
    padding: 0;
    margin: auto; }
    .navbar__nav .navroutes__wrapper__ul .navroutes__li {
      display: flex;
      align-content: center;
      justify-content: center;
      height: 100%;
      width: 8em;
      text-align: center; }
      .navbar__nav .navroutes__wrapper__ul .navroutes__li .navroutes--navlink {
        display: flex;
        height: 100%;
        width: 100%;
        margin: 0;
        opacity: .7;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: white;
        font-size: 150%;
        font-weight: 300; }
        .navbar__nav .navroutes__wrapper__ul .navroutes__li .navroutes--navlink:hover {
          opacity: .9; }
      .navbar__nav .navroutes__wrapper__ul .navroutes__li .navroutes--navlink--active {
        opacity: 1 !important;
        text-decoration: underline !important; }
