@import '../../../styles/variables.scss';

.skillslist-wrapper-div{

	.skillslist-p{
		font-size: 100%;
		display: inline-block;
		padding: .5em;
		margin: 0;

		&:nth-child(even){
			color: $primary-dark;
		}

		&:nth-child(odd){
			color: $secondary-dark;
		}

		&:nth-child(3n){
			color: $primary;
		}

	}
}